body {
  background-color: #990000;
  background-size: contain;
  overflow-x: scroll;
  overflow-y: scroll;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 50px;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  vertical-align: middle;
}

div.container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin:  0  auto;
  padding: 8px;
	margin: 30px;
  display: inline-block;
  position: inherit;
}

header, main, footer {
  padding: 15px;
  margin: 15px;
}


header {
  padding: 10px;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "name"
    "link-bar";
}

main {
  padding: 10px;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "carousel"
    "map"
    "scheduleandforms"
    "news-and-updates";
}

footer {
  padding: 10px;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social-M"
    "contacts";
}

@media (min-width: 600px) {

  header {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo name"
      "link-bar link-bar";
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "carousel carousel"
      "map map"
      "scheduleandforms scheduleandforms"
      "news-and-updates news-and-updates";
  }

  footer {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "social-M contacts";
  }
}

@media (min-width: 900px) {
  header {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo logo name"
      "link-bar link-bar";
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "map map map"
      "scheduleandforms scheduleandforms news-and-updates";
  }

  footer {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "social-M contacts";
  }
}

div {
  text-align: center;
}

main div {
    min-height: 80px;
}

div#logo {
  grid-area: logo;
}

div#link-bar {
  grid-area: link-bar;
}

div#carousel {
grid-area: carousel;
overflow: hidden; /*Didn't work for me*/
}

div#social-M {
  grid-area: social-M;
}

div#contacts {
  grid-area: contacts;
}
div#scheduleandforms {
  grid-area: scheduleandforms;
}
div#news-and-updates {
  grid-area: news-and-updates;
}
div#map {
  grid-area: map;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: 'Krona One', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Anton', sans-serif;
}

h2 {
text-align: center;
}

h3 {
text-align: center;
}

h4 {

}

h5 {

}

h6 {

}

p {
text-align: center;
line-height: 1.6;
color: #000000

}

ol {

}

ul {

}

li {

}

table {

}

caption {

}

tr {

}

th {

}

td {

}

img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
      text-align: center;
  }
  img.right {
    float: right;
    margin-left: 20px;
  }

img.left {
    float:left;
    margin-right: 20px;
    display: block;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}

.topnav a.active {
  background-color: #890c10;
  color: #ffffff;
}

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
